<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>

<html>
<head>
    <link rel='stylesheet' href='static/home.css' />
    <title> Fraud </title>
    
</head>
    
<body>
    <h1> <img id='banner_img' src='https://www.sas.com/en_us/insights/articles/risk-fraud/fraud-detection-machine-learning/_jcr_content/par/styledcontainer_d80f/par/styledcontainer/image.img.png/1510864834489.png' class="rotate90" /> Fraud Prediction Tool   
    </h1>
           
        <div id='controls'>
            <div id = 'space'>
                <body> Event fraud detection tool. This app determines the probability of fraud in a stream of event data. Uploads the 50 latest events and allows inspection of event details.</body>
                <br> <br>
                <body> 
                    <div> Authors: Claire, James, Angel, Troy </div>
                    <br>
                    Current Model: Random Forest
                
                </body>
                
            </div>
        <br>
        <div id='button'>
            <label> Click this button to run analysis: </label>
            <button onclick="window.location.href = '/table';">Run Detection</button> 
        </div>
        </div>
        
    
    <div id='graph1'></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.35.2/plotly.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src ="/static/mpg.js"></script>
    
    
    </body>
</html>