body {
  background-color:  #34495E
}

h2 {
  color: white
}

table {
    border: 1px solid black;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align:center;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 0.9em;
    width: 100%;
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color:  #C8C8C8}
th {
    background-color: #7FB3D5;
  color: white;
}
th, td {
  border-bottom: 1px solid #ddd;
      padding: 8px;
  text-align: left;
}
